[submodule ".registry"]
	path = .registry
	url = https://github.com/oliverfrisvoll/universe
	shallow = true
	branch = HEAD
[submodule "EikonDownloader"]
	path = EikonDownloader
	url = https://github.com/OliverFrisvoll/EikonDownloader
	shallow = true
	registered = true
